 
 {{#each this}}
 <li class="gallery__item">
        <a class="gallery__link" href="#">
          <img class="gallery__img" srcset="" sizes="" src="https://api.themoviedb.org/3{{poster_path}}/api_key=82c59d753050746a09d77670604a0453" alt="" width="395" height="574">
          <div class="gallery__thumb">
            <h2 class="gallery__film-name">{{title}}</h2>
            <p class="gallery__film-text-about">Drama, Action | {{release_date}}</p>
          </div>
        </a>
      </li>
{{/each}}