 
 {{#each this}}
 <li class="gallery__item">
        <a class="gallery__link" href="#">
          <img class="gallery__img" srcset="" sizes="" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" width="395" height="574">
          <div class="gallery__thumb">
            <h2 class="gallery__film-name">{{title}}</h2>
            <p class="gallery__film-text-about">Drama, Action | {{release_date}}</p>
          </div>
        </a>
      </li>
{{/each}}

