{{#each this}}

  <div id='myModal' class='modal'>

    <!-- Modal content -->
    <div class='modal-content'>
      <div class='modal-header'>
        <span class='close'>&times;</span>
        <img
          class='heart'
          src='../images/footer/comand-footer/115-1152342_brain-fuse-records-brain-boom.jpg'
          alt='heart'
        />
      </div>
      <div class='modal-body'>
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class='modal-footer'>
        <h3>Modal Footer</h3>
      </div>
    </div>

  </div>

{{/each}}