:root {
  --main-white-color: #ffffff;
  --sec-grey-bgAndPagination-color: #f7f7f7;
  --sec-red-color: #ff001b;

  --main-text-color: #000000;
  --sec-text-color: #545454;
  --text-accent-color: #ff6b08;
  --btn-accent-color: #ff6b01;

  --main-font-size: 12px;
  --main-line-height: 1.33;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
