<footer>
  <section class="section">
    <div class="footer container">
      <div class="footer__box">
        <p class="footer__item">&#169; 2022</p>

        <p class="footer__item curent">All Rights Reserved</p>
        <div class="footer__box-img">
          <p class="footer__item dev">Developed with</p>

          <img
            class="fotter__heart"
            src="./images/footer/favorite.svg"
            alt="heart"
          />

          <a id="myBtn" class="footer__link" href="">by GoIT Students</a>
        </div>
      </div>
    </div>

    <!-- <div class="gallery"> -->
    <!-- Карточки изображений -->
    <!-- </div> -->

    <div id="myModal" class="modal-foot">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <p>Try {} CatH {} PreseNt ProJect</p>
        </div>
        <div class="modal-body">
          <div class="modal-card gallery">
            <a href="./images/footer/comand-footer/IMAGE_2022.jpg">
              <img
                class="heart"
                src="./images/footer/comand-footer/ustration_funny_scie.jpg"
                alt="heart"
                width="150"
              />
            </a>
            <div>
              <p>Сергій Шкурупій</p>
              <p>Team Lead</p>
            </div>
          </div>
          <div class="modal-card gallery">
            <a href="./images/footer/comand-footer/1.jpg">
              <img
                class="heart-img"
                src="./images/footer/comand-footer/ustration_funny_scie.jpg"
                alt="heart"
                width="150"
              />
            </a>
            <div>
              <p>Вікторія Ністоріка</p>
              <p>Developer</p>
            </div>
          </div>
          <div class="modal-card gallery">
            <a href="./images/footer/comand-footer/2.jpeg">
              <img
                class="heart-img"
                src="./images/footer/comand-footer/ustration_funny_scie.jpg"
                alt="heart"
                width="150"
              />
            </a>
            <div>
              <p>Аліса Левченко</p>
              <p>Developer</p>
            </div>
          </div>
          <div class="modal-card gallery">
            <a href="./images/footer/comand-footer/3.png">
              <img
                class="heart-img"
                src="./images/footer/comand-footer/ustration_funny_scie.jpg"
                alt="heart"
                width="150"
              />
            </a>
            <div>
              <p>Олександр Старков</p>
              <p>Developer</p>
            </div>
          </div>
          <div class="modal-card gallery">
            <a href="./images/footer/comand-footer/4.png">
              <img
                class="heart-img"
                src="./images/footer/comand-footer/ustration_funny_scie.jpg"
                alt="heart"
                width="150"
              />
            </a>
            <div>
              <p>Вадим Фролов</p>
              <p>Scrum Master</p>
            </div>
          </div>
          <div class="modal-card gallery">
            <a href="./images/footer/comand-footer/5.jpg">
              <img
                class="heart-img"
                src="./images/footer/comand-footer/ustration_funny_scie.jpg"
                alt="heart"
                width="150"
              />
            </a>
            <div>
              <p>Владислав Маслюк</p>
              <p>Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
