<footer>
  <section>
    <div class="footer">
      <ul class="footer__box">
        <li class="footer__item">&#169; 2020</li>

        <li class="footer__item curent">All Rights Reserved</li>

        <li class="footer__item">Developed with</li>
        <li class="footer__item">
          <img class="fotter__heart" src="./imeges/favorite.svg" alt="heart" />
        </li>
        <li class="footer__item">
          <a class="footer__link" href="">by GoIT Students</a>
        </li>
      </ul>
    </div>
  </section>
</footer>
