<header class="header-bg-home js-header header-home">
  <div class="container">
    <nav class="navi js-navi">
      <a class="page-link" href="./index.html">
        <svg class="logo js-logo">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <ul class="navi__list">
        <li class="navi__item">
          <a class="navi__link js-home_page current" href="./index.html">Home</a>
        </li>
        <li class="navi__item">
          <a class="navi__link js-lib_page" href="#">My library</a>
        </li>
      </ul>
    </nav>

    <div class="search-container">
      <form class="form js-form">
        <input
          class="form__input js-form-input"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button class="form__btn" type="submit">
          <svg class="form__icon">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <div class="form__warning visually-hidden">
          <p>Search result not successful.</p>
          <p>Enter the correct movie name and repeat.</p>
        </div>
      </form>
    </div>
    <div class="lib__btns js-buttons visually-hidden">
      <button class="lib__btn active-btn js-btn_watched" data-libbtn="watched" type="button">
        Watched
      </button>
      <button class="lib__btn js-btn_queue" type="button" data-libbtn="queue">Queue</button>
    </div>
    <div class="switch-wrapper">
      <input class="switchCheckbox" id="switchCheckbox" type="checkbox" />
      <span class="switch-label day"></span>
      <label class="switch" for="switchCheckbox"></label>
      <span class="switch-label night"></span>
    </div>
  </div>
</header>
