<section class="section">
  <div class="container">
    <h1 class="section-title visually-hidden title--hidden">Films</h1>
    <ul class="gallery__grid">
      <!-- <li class="gallery__item">
        <a class="gallery__link" href="">
          <img class="gallery__img" srcset="" sizes="" src="" alt="" width="395" height="574">
          <div class="gallery__thumb">
            <h2 class="gallery__film-name">GREYHOUND</h2>
            <p class="gallery__film-text-about">Drama, Action | 2020</p>
          </div>
        </a>
      </li> -->
      <!-- <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="gallery__item">
                <a class="gallery__link" href="">
                    <img class="gallery__img" srcset=""
                        sizes=" (min-width: 1200px) 370px, (min-width: 786px) 354px, (max-width:480px) 450px" src=""
                        alt="" width="395" height="574">
                    <div class="gallery__thumb">
                        <h2 class="gallery__film-name">GREYHOUND</h2>
                        <p class="gallery__film-text-about">Drama, Action | 2020</p>
                    </div>
                </a>
            </li> -->
    </ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>
