<div class="modal">
  <button type="button" class="modal__close">

    <svg width="18px" height="18px">
      <use href="./images/images proj/icons.svg.svg#icon-buttonx"></use>
    </svg>
  </button>
  <div class="modal__sign">
    <div class="modal-box">
      <div> <img src="./images/images proj/Rectangle 18.jpg" alt="фото сотрудника" min-width="240px"
          min-height="357px" /></div>
      <div class="modal-info">
        <h2 class="modal__title">A FISTFUL OF LEAD</h2>
        <div class="info-box">
          <ul class="modal-list">
            <li class="modal-list__items">
              <p>Vote/Votes</p>
            </li>
            <li class="modal-list__items">
              <p>Popularity</p>
            </li>
            <li class="modal-list__items">
              <p>Original Title</p>
            </li>
            <li class="modal-list__items">
              <p>Genre</p><span></span>
            </li>
          </ul>
          <ul class="modal-list">
            <li class="modal-list__info">
              <p><span class="vote">7.3</span> / <span>1260</span></p>
            </li>
            <li class="modal-list__info">
              <p>100.2</p>
            </li>
            <li class="modal-list__info">
              <p>A FISTFUL OF LEAD</p>
            </li>
            <li class="modal-list__info">
              <p>Western</p>
            </li>
          </ul>
        </div>
        <h3 class="modal__about">About</h3>
        <p class="modal__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt
          settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with
          bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who
          themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they
          realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
        <div class="btn">
          <button type="button" class="button">add to Watched</button>

          <button type="button" class="button queue">add to queue</button>
        </div>
      </div>

    </div>
  </div>
</div>