.back-to-top {
  position: fixed;
  bottom: 104px;
  right: 13px;
  border: none;
  width: 40px;
  height: 40px;

  cursor: pointer;
  background: url('../images/footer/iconUp.svg');
  background-repeat: no-repeat;

  @include mq(tab) {
    bottom: 132px;
    right: 25px;
  }
}

.hidden {
  opacity: 0%;
}
