.modal-foot {
  display: none;
  position: fixed;
  z-index: 1;

  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  animation-duration: 3s;

  animation-iteration-count: unset;
  background-image: linear-gradient(
    45deg,
    hsl(0deg 100% 15%) 0%,
    hsl(0deg 67% 15%) 9%,
    hsl(0deg 43% 13%) 19%,
    hsl(0deg 25% 10%) 29%,
    hsl(0deg 11% 6%) 39%,
    hsl(0deg 0% 0%) 49%,
    hsl(0deg 11% 7%) 59%,
    hsl(0deg 25% 12%) 69%,
    hsl(0deg 43% 16%) 80%,
    hsl(0deg 67% 18%) 90%,
    hsl(0deg 100% 19%) 100%
  );
}
.modal-content.one {
  animation-name: slidein;
}
.modal-content.out {
  animation-name: slideOff;
}
/* The Close Button */
.close {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}

.close:hover,
.close:focus {
  color: rgb(182, 155, 193);
  text-decoration: none;
  cursor: pointer;
  transform: rotate(0.5turn);
}

.modal-header {
  margin-bottom: 20px;

  color: white;
}

.modal-header p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  text-align: center;
  color: #fff;
}

.modal-body {
  padding: 2px 16px;
  display: flex;
  justify-content: space-evenly;
}
.modal-card {
  animation-duration: 5s;

  text-align: center;
}
.modal-card img {
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-card div {
  margin-top: 10px;
  background-color: #fefefe;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #212121;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-card.gallery {
  $sl-overlay-background: red;
}
.sl-wrapper {
  background-color: #8000006a;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */

@keyframes slidein {
  from {
    bottom: 100px;
    width: 300%;
  }

  to {
    bottom: 300px;
    width: 100%;
  }
  // 0% {
  //   transform: scaleY(0.005) scaleX(0);
  // }
  // 50% {
  //   transform: scaleY(0.005) scaleX(1);
  // }
  // 100% {
  //   transform: scaleY(1) scaleX(1);
  // }
}
@keyframes slideOff {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
