.gallery__grid {
    display: grid;
    column-gap: 16px;
    row-gap: 32px;
    grid-template-columns: repeat(3, 395px);
    justify-content: center;
    
   
  }

  .gallery__img{
      margin-bottom: 12px;
      height: 574px;
  }

  .gallery__film-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .gallery__film-text-about {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #FF6B08;
  }

.pagination__container {
  display: flex;
  justify-content: center;
}

  .pagination__btn {
    padding: 25px;
    cursor: pointer;
    background-color: rgb(228, 57, 51);
    border-radius: 12px;
  }