@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
  overflow-y: scroll;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .modal {
    transform: translate(-50%);
    transition: transform 150ms linear;

    @include mq(tab) {
      transform: translate(-50%, -50%) scale(1) rotateX(-90deg);
    }
  }
}

.modal-box {
  @include mq(tab) {
    display: flex;
  }
}

.modal-info {
  @include mq(tab) {
    width: 294px;
  }
}
.modal-info {
  @include mq(desk) {
    width: 391px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 48px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  border-radius: 2px;
  background-color: var(--main-white-color);
  transform: translate(-50%, -40%);
  transition: transform 250ms linear;

  @include mq(tab) {
    width: 704px;

    padding: 40px;
    padding-left: 36px;
    padding-right: 36px;
    transform: translate(-50%, -50%);
    transition: transform 250ms linear;
  }

  @include mq(desk) {
    width: 806px;
    height: 558px;
    padding: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }

  &__close {
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    margin: 8px;
    width: 30px;
    height: 30px;
    box-sizing: inherit;
    border-radius: 50%;
    background-color: var(--main-white-color);

    border: none;

    transition-property: fill border;
    transition: var(--transition);

    &:hover,
    &:focus {
      transform: rotate(-360deg);
      border: 1px solid var(--btn-accent-color);
      fill: var(--btn-accent-color);
    }
  }
}

body.dark__theme .modal__close {
  fill: var(--main-white-color);
  border: 1px solid var(--main-white-color);
  background-color: transparent;

  transition-property: fill border;
  transition: var(--transition);
  
    &:hover,
    &:focus {
      transform: rotate(-360deg);
      border: 1px solid rgba(255, 0, 27, 0.7);
      fill:rgba(255, 0, 27, 0.7);
    }
}

body.dark__theme .modal {
  background-color: #0a0819;
  box-shadow: 0px 0px 45px 7px rgba(255, 0, 27, 0.7);
}

.modal__sign img {
  margin-bottom: 20px;
  border-radius: 5px;
  @include mq(tab) {
    width: 264px;
    height: 374px;
    margin: 0px;
    margin-right: 68px;
  }

  @include mq(desk) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-text-color);

  margin-bottom: 20px;

  @include mq(desk) {
    font-size: 30px;
    line-height: 35px;
  }
}

body.dark__theme .modal__title {
  color: var(--main-white-color);
}

.modal-list {
  margin-bottom: 39px;
}

.modal-list__items {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.modal-list__items p {
  font-family: 'Roboto';
  font-style: normal;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

body.dark__theme .modal-list__items p {
  color: var(--main-white-color);
}

.modal-list__items span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--main-text-color);
}

body.dark__theme .modal-list__items span {
  color: var(--main-white-color);
}

.modal-list__items .reat {
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 16px;
  margin-left: 5px;
  padding: 1px;
  border-radius: 5px;
  background-color: var(--sec-grey-bgAndPagination-color);
  color: var(--main-text-color);
}

body.dark__theme .modal-list__items .reat {
  color: var(--main-text-color);
}

.modal-list__items .vote {
  background-color: var(--btn-accent-color);
  color: var(--main-white-color);
  margin-left: 41px;
  margin-right: 5px;

  @include mq(desk) {
    margin-left: 85px;
  }
}

body.dark__theme .modal-list__items .vote {
  color: var(--main-white-color);
}

.modal-list__items {
  & .popularity {
    margin-left: 53px;

    @include mq(desk) {
      margin-left: 98px;
    }
  }
  & .original-title {
    display: flex;
    align-items: flex-start;
    margin-left: 39px;
    max-width: 120px;

    @include mq(tab) {
      width: 180px;
    }

    @include mq(desk) {
      margin-left: 82px;
      max-width: 230px;
    }
  }
  & .genre {
    margin-left: 81px;

    @include mq(desk) {
      margin-left: 127px;
    }
  }
}

.modal__about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--main-text-color);

  margin-bottom: 8px;
}

body.dark__theme .modal__about {
  color: var(--main-white-color);
}

.modal__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

body.dark__theme .modal__text {
  color: var(--main-white-color);
}

.btn {
  display: flex;
}

.button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 110px;
  height: 44px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;

  background-color: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);

  &:not(:last-child) {
    margin-right: 20px;
  }

  @include mq(tab) {
    width: 125px;
    height: 44px;
  }

  @include mq(desk) {
    width: 136px;
    height: 44px;
  }

  transition-property: box-shadow, color, background-color, border-color;
  transition: var(--transition);
}

body.dark__theme .button {
  color: var(--main-white-color);
  border: 1px solid var(--main-white-color);
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: var(--btn-accent-color);
  background-color: var(--btn-accent-color);
  color: var(--main-white-color);
}

body.dark__theme .button:hover,
.button:focus {
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.25), 0px 2px 4px rgba(255, 255, 255, 0.25),
    0px 2px 4px rgba(255, 255, 255, 0.25), 0px 2px 4px rgba(255, 255, 255, 0.25);
  border: var(--btn-accent-color);
  background-color: var(--btn-accent-color);
  color: var(--main-white-color);
}

.social a {
  position: absolute;
  top: 1%;
  left: 1%;
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;

  background: var(--main-white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: var(--main-white-color);
  background-color: #fc0d1b;

  transition-property: box-shadow, color, background-color, border-color;
  transition: var(--transition);

  @include mq(desk) {
    width: 54px;
    height: 54px;
  }
}

.youtube a:hover {
  background: #c80913;
  color: var(--main-white-color);
}
